@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}

/*                  Header              */
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    position: fixed;
    background: #fff;
    z-index: 999;
    min-height: 8vh;
}
header .logo{
    color: rgba(55,91,219,255);
}
header .menu{
    display: flex;
}
header .menu ul{
    margin-right: 55px;
    padding-top: 10px;
}
header .menu ul li{
    display: inline;
    margin: 10px;
}
header .menu ul li a{
    color: #576476;
}
header .cta a.btn{
    color: #fff;
    display: inline-block;
    margin-bottom: 5px;
    padding: 10px 15px;
    background: rgba(0,146,255,255);
    border-radius: 30px;
;
}
/*                  End-Header              */
/*                  Main              */
/*      Banner      */
.banner{
    position: relative;
}
.banner .container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 250px 20px;
}
.banner .container .col50{
    width: 50%;
}
.banner .container .col50 .textBx{
    padding-left: 120px;
}
.banner .container .col50 .textBx h2{
    color: rgba(41,59,96,255);
    font-size: 70px;
}
.banner .container .col50 .textBx p{
    color: rgba(184,187,195,255);
    padding: 0 200px 0 0;
    margin-top: 20px;
    font-size: 22px;
}
.banner .container .col50 .textBx a.btn{
    margin-top: 20px;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    background: rgba(0,146,255,255);
    border-radius: 30px;
    transition: 0.4s;
}
.banner .container .col50 .textBx a.btn:hover{
    opacity: 0.6;
}
.banner .container .col50 .imgBx{
    width: 100%;
    height: 100%;
}
.banner .container .col50 .imgBx img{
    width: 80%;
    object-fit: cover;
}
/*      End-Banner      */
/*      Services      */
.services{
    min-height: 50vh;
}
.services h3{
    text-align: left;
    padding: 50px;
    margin-left: 40px;
    color: rgba(41,59,96,255);
    font-size: 40px;
}
.services .container{
    display: flex;
    justify-content: center;
    padding: 20px 50px 250px;
    flex-wrap: wrap;
}
.services .container .box{
    width: 350px;
    margin: 60px 45px;
    cursor: pointer;
    padding: 30px 20px;
    border-radius: 10px;
    transition: 0.5s;
}
.services .container .box:hover{
    box-shadow: rgba(149, 157, 165, 0.6) 0px 8px 24px;
}
.services .container .box .logoBx{
    width: 40px;
    height: 40px;
    background: rgba(238,134,129,255);
    border-radius: 5px;
}
.services .container .box:nth-child(1) .logoBx{
    background: rgba(217,235,249,255);
}
.services .container .box:nth-child(3) .logoBx{
    background: rgba(218,237,229,255);
}
.services .container .box h4{
    color: rgba(41,59,96,255);
    font-size: 20px;
    margin-top: 20px;
}
.services .container .box p{
    color: rgba(184,187,195,255);
    margin: 40px 0 30px;
}
.services .container .box a.link{
    font-size: 19px;
    color: rgba(184,187,195,255);
}
.services .container .box a.link:hover{
    opacity: 0.4;
}
.services .container .box:nth-child(2) a.link{
    color: rgba(238,134,129,255);
}
/*      End-Services      */
/*      About      */
.about .container{
    min-height: 60vh;
    display: flex;
    justify-content: center;
    padding: 0 20px;
}
.about .container .col50{
    width: 50%;
}
.about .container .col50 .textBx{
    padding-left: 50px;
}
.about .container .col50 .textBx h4{
    color: rgba(238,134,129,255);
    font-size: 22px;
}
.about .container .col50 .textBx h3{
    color: rgba(41,59,96,255);
    font-size: 40px;
}
.about .container .col50 .textBx p{
    color: rgba(184,187,195,255);
    padding: 0 200px 0 0;
    margin-top: 20px;
    font-size: 22px;
}
.about .container .col50 .textBx a.btn{
    margin-top: 20px;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    background: rgba(0,146,255,255);
    border-radius: 30px;
    transition: 0.4s;
}
.about .container .col50 .textBx a.btn:hover{
    opacity: 0.6;
}
.about .container .col50 .imgBx{
    width: 100%;
    height: 100%;
    margin-left: 75px;
}
.about .container .col50 .imgBx img{
    width: 80%;
    object-fit: cover;
}
/*      End-About      */
/*      Best      */
.best .container{
    min-height: 60vh;
    display: flex;
    justify-content: center;
    padding: 0 20px;
}
.best .container .col50{
    width: 50%;
}
.best .container .col50 .textBx{
    padding-left: 120px;
}
.best .container .col50 .textBx h4{
    color: rgba(238,134,129,255);
    font-size: 22px;
}
.best .container .col50 .textBx h3{
    color: rgba(41,59,96,255);
    font-size: 40px;
}
.best .container .col50 .textBx p{
    color: rgba(184,187,195,255);
    padding: 0 200px 0 0;
    margin-top: 20px;
    font-size: 22px;
}
.best .container .col50 .imgBx{
    width: 100%;
    height: 100%;
}
.best .container .col50 .imgBx img{
    width: 80%;
    object-fit: cover;
}

/*      End-Best      */
/*      Testimonial      */
.testimonial{
    min-height: 100vh;
    padding: 100px 0;
}
.testimonial .section-title{
    text-align: center;
}
.testimonial .section-title h3{
    font-size: 40px;
    color: rgba(41,59,96,255);
}
.testimonial .section-title p{
    font-size: 20px;
    color: rgba(41,59,96,255);
}
.testimonial .container {
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.testimonial .container .card{
    width: 340px;
    text-align: center;
    padding: 20px;
    margin: 40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-bottom: 3px solid rgba(91,125,220,255);
}
.testimonial .container .card:nth-child(2){
    border-bottom: 3px solid rgba(41,141,104,255);
    transform: scale(1.2);
}
.testimonial .container .card:nth-child(3){
    border-bottom: 3px solid rgba(191,161,32,255);
}
.testimonial .container .card p{
    color: rgba(184,187,195,255);
    font-size: 18px;
}
.testimonial .container .card h4{
    margin-top: 20px;
}
.testimonial .container .card h5{
    font-weight: 300;
}
/*      End-Testimonial      */
/*      Estimation      */
.estimation{
    min-height: 50vh;
    text-align: center;
}
.estimation .container{
    padding: 100px 200px;
}
.estimation .container .box{
    width: 100%;
    height: 350px;
    background: rgba(5,74,116,255);
    color: #fff;
    padding: 0 200px;
    border-radius: 10px;
    position: relative;
}
.estimation .container .box h3{
    font-size: 30px;
    padding: 80px 0 20px;
}
.estimation .container .box a.btn{
    margin-top: 20px;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    background: rgba(0,146,255,255);
    border-radius: 30px;
    transition: 0.4s;
}
.estimation .container .box a.btn:hover{
    opacity: 0.6;
}
.estimation .container .box::after{
    position: absolute;
    content: '';
    top: 50px;
    left: 40px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: rgba(255,255,255,.6);
    filter: blur(5px);
}
.estimation .container .box::before{
    position: absolute;
    content: '';
    bottom: 30px;
    right: 40px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: rgba(255,255,255,.6);
    filter: blur(10px);
}
/*      End-Estimation      */
/*                  End-Main              */
/*                  Media Queries              */


/*          Header          */
@media (max-width: 940px) {
    header{
        padding: 20px 50px;
    }
}@media (max-width: 840px) {
    header .menu{
        display: none;
    }
}
/*          Banner          */
@media (max-width: 1570px) {
    .banner .container .col50 .textBx h2{
        font-size: 60px;
    }
    .banner .container .col50 .textBx p{
        font-size: 21px;
    }
    .banner .container .col50 .imgBx{
        margin-left: 120px;
    }
    .banner .container .col50 .imgBx img{
        width: 70%;
        object-fit: cover;
    }
}@media (max-width: 1320px) {
    .banner .container .col50 .textBx h2{
        font-size: 50px;
    }
    .banner .container .col50 .textBx p{
        font-size: 21px;
    }
    .banner .container .col50 .imgBx{
        width: 50%;
        margin-left: 100px;
    }
    .banner .container .col50 .imgBx img{
        width: 100%;
        object-fit: cover;
    }
}@media (max-width: 1320px) {
    .banner .container{
        flex-direction: column;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .banner .container .col50{
        width: 100%;
    }
    .banner .container .col50.imgContainer{
        display: flex;
        justify-content: center;
        margin-top: 90px;
    }
    .banner .container .col50 .textBx p{
        padding: 0 50px;
    }
    .banner .container .col50 .textBx{
        padding: 0;
    }
}@media (max-width: 556px) {
    .banner .container{
        min-height: 50vh;
    }
    .banner .container .col50{
        width: 100%;
    }
    .banner .container .col50.imgContainer{
        display: none;
    }
    .banner .container .col50 .textBx h2{
        font-size: 35px;
    }
    .banner .container .col50 .textBx p{
        font-size: 18px;
        padding: 10px;
    }
}
/*          Services          */
@media (max-width: 630px) {
    .services .container{
        padding: 20px 0 250px;
    }
    .services .container .box{
        width: 100%;
        margin: 45px 0;
        cursor: pointer;
        padding: 30px 20px;
        border-radius: 10px;
        transition: 0.5s;
    }
    .services h3{
        text-align: center;
        margin-left: 0;
        color: rgba(41,59,96,255);
        font-size: 30px;
    }
}
/*          About          */
@media (max-width: 1570px) {
    .about .container .col50 .textBx h3{
        font-size: 60px;
    }
    .about .container .col50 .textBx p{
        font-size: 21px;
    }
    .about .container .col50 .imgBx{
        margin-left: 120px;
    }
    .about .container .col50 .imgBx img{
        width: 70%;
        object-fit: cover;
    }
}@media (max-width: 1320px) {
    .about .container .col50 .textBx h3{
        font-size: 50px;
    }
    .about .container .col50 .textBx p{
        font-size: 21px;
    }
    .about .container .col50 .imgBx{
        width: 50%;
        margin-left: 100px;
    }
    .about .container .col50 .imgBx img{
        width: 100%;
        object-fit: cover;
    }
}@media (max-width: 1320px) {
    .about .container{
        flex-direction: column;
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 0 0 250px;
    }
    .about .container .col50{
        width: 100%;
    }
    .about .container .col50.imgContainer{
        display: flex;
        justify-content: center;
    }
    .about .container .col50 .textBx{
        margin-top: 90px;
    }
    .about .container .col50 .textBx p{
        padding: 0 50px;
    }
    .about .container .col50 .textBx{
        padding: 0;
    }
    .about .container .col50 .imgBx{
        margin-left: 0;
    }
}@media (max-width: 556px) {
    .about .container{
        min-height: 50vh;
    }
    .about .container .col50{
        width: 100%;
    }
    .about .container .col50 .imgBx{
        width: 100%;
    }
    .about .container .col50 .imgBx img{
        width: 100%;
    }
    .about .container .col50 .textBx h3{
        font-size: 35px;
    }
    .about .container .col50 .textBx p{
        font-size: 18px;
        padding: 10px;
    }
}
/*          Best          */
@media (max-width: 1570px) {
    .best .container{
        margin-top: 100px;
    }
    .best .container .col50 .textBx h3{
        font-size: 48px;
    }
    .best .container .col50 .textBx p{
        font-size: 21px;
    }
    .best .container .col50 .imgBx{
        margin-left: 120px;
    }
    .best .container .col50 .imgBx img{
        width: 70%;
        object-fit: cover;
    }
}@media (max-width: 1320px) {
    .best .container .col50 .textBx h3{
        font-size: 40px;
    }
    .best .container .col50 .textBx p{
        font-size: 21px;
    }
    .best .container .col50 .imgBx{
        width: 50%;
        margin-left: 100px;
    }
    .best .container .col50 .imgBx img{
        width: 100%;
        object-fit: cover;
    }
}@media (max-width: 1320px) {
    .best .container{
        flex-direction: column;
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 0 0 80px;
    }
    .best .container .col50{
        width: 100%;
    }
    .best .container .col50.imgContainer{
        display: flex;
        justify-content: center;
        margin-top: 90px;
    }
    .best .container .col50 .textBx p{
        padding: 0 50px;
    }
    .best .container .col50 .textBx{
        padding: 0;
    }
    .best .container .col50 .imgBx{
        margin-left: 0;
    }
}@media (max-width: 556px) {
    .best .container{
        min-height: 50vh;
    }
    .best .container .col50{
        width: 100%;
    }
    .best .container .col50 .imgBx{
        width: 100%;
    }
    .best .container .col50 .imgBx img{
        width: 100%;
    }
    .best .container .col50 .textBx h3{
        font-size: 35px;
    }
    .best .container .col50 .textBx p{
        font-size: 18px;
        padding: 10px;
    }
}
/*          Best          */
@media (max-width: 1323px) {
    .testimonial .container .card:nth-child(2){
        transform: scale(1);
    }
}@media (max-width: 537px) {
    .testimonial .container .card{
        width: 100%;
        margin: 30px 0;
    }
}@media (max-width: 340px) {
    .testimonial .section-title h3{
        font-size: 30px;
    }
}
/*          Best          */
@media (max-width: 1021px) {
    .estimation .container{
        padding: 100px 10px;
    }
    .estimation .container .box{
        height: 400px;
    }
}@media (max-width: 797px) {
    .estimation .container{
        padding: 25px 0;
    }
    .estimation .container .box h3{
        font-size: 30px;
        padding: 25px 0 20px;
    }
    .estimation .container .box{
        padding: 0 10px;
    }
    .estimation .container .box::after{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-radius: 0;
    }
    .estimation .container .box::before{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-radius: 0;
    }
}@media (max-width: 400px) {
    .estimation .container .box{
        height: 475px;
    }
}
















