@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
-- *
 */
    *
    {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
        scroll-behavior: smooth;
    }


/*
-- Sections
 */
section
{
    padding: 300px;
}


/*
-- Banner
 */

.banner
{
    position: relative;
    min-height: 100vh;
    background: url("../imgs/banner.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner h2
{
    font-size: 3em;
    color: #333333;
    font-weight: 500;
    line-height: 1.5em;
}

.banner h2 span
{
    font-size: 1.5em;
    font-weight: 700;
}
.banner h3
{
    font-size: 1.5em;
    color: #333333;
    font-weight: 500;
}

.btn
{
    position: relative;
    background: #2196f3;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
    border-radius: 5px;
}
.btn:hover
{
    background: #7BC1F9;
}

/*
-- Navbar
 */

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 200px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header.sticky
{
    background: #fff;
    padding: 20px 200px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}
header .logo
{
    color: #111111;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}
header ul {
    position: relative;
    display: flex;
}

header ul li
{
    position: relative;
    list-style: none;
}

header ul li a
{
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #333333;
    text-decoration: none;
}
header ul li a:hover {
    color: #999999;
    text-decoration: overline;
}


/*
-- Heading
 */
.heading
{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    color: #111;
}
.heading
{
    font-weight: 600;
    font-size: 30px;
}


/*
-- Content
 */

.content
{
    display: flex;
    justify-content: space-between;
}
.contentBx
{
    padding-right: 50px;
}
.contentBx h3
{
    font-size: 24px;
    margin-bottom: 10px;
}
/*
-- W50
 */
.w50
{
    min-width: 50%;
}
.w50 img
{
    width: 600px;
}
img
{
    max-width: 100%;
}


/*
-- Services
 */

.work
{
    background: #f6f6f6;
}
.heading.white
{
    color: #fff;
}
.work .content
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.work .content img {
    border-radius: 60px;
}
.work .content .workBx
{
    padding: 40px 20px;
    background: white;
    border-radius: 1em;
    max-width: 340px;
    color: #333333;
    margin: 20px;
    text-align: center;
    transition: 0.5s;
}
.work .content .workBx:hover
{
   background: white;
   box-shadow: 0 5px 20px rgba(0,0,0,0.9);
}
.work .content .workBx h2
{
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
}

/*
-- Contact
 */

.contact
{
    background: #ffffff;
}

.formBx
{
    min-width: 60%;
}
.formBx form
{
    display: flex;
    flex-direction: column;
}
.formBx form h3,
.contactInfo h3
{
    color: #333333;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.formBx form input,
.formBx form textarea
{
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    background: #f1f1f1;
    border: none;
    outline: none;
    color: #111111;
    resize: none;
}
.formBx form textarea
{
    min-height: 200px;
}
.formBx form input ::placeholder,
.formBx form textarea::placeholder
{
    color: #999;
}
.formBx form input[type="submit"]
{
    max-width: 100px;
    background: #2196f3;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
}
.contactInfo
{
    min-width: 40%;
}
.contactInfoBx
{
    position: relative;
}
.contactInfoBx .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.contactInfoBx .box .icon
{
    min-width: 40px;
    padding-top: 4px;
    color: #333333;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.contactInfoBx .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #333333;
    flex-direction: column;
    font-weight: 300;
}
.contactInfoBx .box .text p a
{
    color: #333333;
}
.contactInfoBx .box .text h3
{
    font-weight: 500;
    color: #2196f3;
    margin-bottom: 0;
}
.copyright
{
    background: #ffffff;
    color: #333333;
    text-align: center;
    padding: 10px;
}
.copyright a
{
    text-decoration: none;
    color: #333333;
    text-align: center;
    padding: 10px;
}
.contactInfoBx .box .text a
{
    text-decoration: none;
    color: #fff;
}

hr
{
    margin-top: 30px;
    margin-bottom: 50px;
}

/*
Responsive
 */
@media (max-width: 1480px)
{
    .content
    {
        flex-direction: column;
    }
}
@media (max-width: 991px)
{
    header, header.sticky
    {
        padding: 20px 50px;
        z-index: 1000;
    }
    header ul li a
    {
        font-size: 24px;
        margin: 10px;
        color: #ffffff;
    }
    .menu
    {
        position: fixed;
        top: 75px;
        left: -100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: #111;
        transition: 0.5s;
        z-index: 999;
        border-top: 1px solid rgba(0,0,0,0.2);
    }
    .menu.active
    {
        left: 0;
    }
    .toggle
    {
        width: 40px;
        height: 40px;
        background: url('../imgs/menu.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 40px;
        cursor: pointer;
    }
    .toggle.active
    {
        width: 40px;
        height: 40px;
        background: url('../imgs/close.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 40px;
        cursor: pointer;
    }
    section
    {
        padding: 100px 50px;
    }
    .banner
    {
        padding: 150px 50px 100px;
    }
    .banner h2
    {
        font-size: 1.5em;
    }
    .banner h3
    {
        font-size: 1em;
    }
    .btn
    {
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 16px;
    }
    .heading h2
    {
        font-weight: 600;
        font-size: 24px;
    }
    .contentBx h3
    {
        font-size: 20px;
    }
    .content
    {
       flex-direction: column;
    }
    .w50
    {
        margin-bottom: 20px;
    }
    .services .content .servicesBx
    {
        margin: 10px;
    }
    .work .content .workBx
    {
        width: 100%;
        padding: 10px;
    }
    .contactInfo
    {
        min-width: 40%;
        margin: 20px 0;
    }
}

@media (max-width: 600px)
{
    header,
    header.sticky
    {
        padding: 20px 20px;
    }
    .banner
    {
        padding: 150px 20px 100px;
    }
    section
    {
        padding: 100px 20px;
    }
}


































