@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}

/*              Header                */
header{
    position: fixed;
    min-height: 8vh;
    z-index: 999;
    width: 100%;
}
header .container{
    padding: 30px 120px 10px;
    display: flex;
    justify-content: space-between;
    background: #fff;
}
header .logo{
    display: flex;
    color: rgba(44,170,193,255);
    font-size: 30px;
}
header .container  a.btn{
    display: inline-block;
    background: #fff;
    color: rgba(44,170,193,255);
    padding: 8px 15px;
    border: 2px solid rgba(44,170,193,255);
    border-radius: 3px;
    font-size: 18px;
    transition: 0.5s;
    font-weight: 500;
}
header .container .menu{
    padding: 5px 0 0 100px;
    text-align: center;
}
header .container .menu a{
    color: rgba(165,173,183,255);
    margin-right: 20px;
}
header .container .menu a:hover{
    color: rgba(0,0,0,0.8);
    font-weight: 500;
}



/*              Main                */
/*      Banner              */
.banner{
    position: relative;
}
.banner .container{
    display: flex;
    justify-content: space-between;
    padding: 200px 60px 0;
}
.banner .container .col50{
    width: 50%;
}
.banner .container .col50 .imgBx{
    width: 500px;
    margin: 0 0 100px 200px;
}
.banner .container .col50 .imgBx img{
    width: 100%;
    object-fit: cover;
    border-radius: 30%;
}
.banner .container .col50 .textBx{
    height: 100%;
    padding: 10px 150px 0 50px;
}
.banner .container .col50 .textBx h2{
    color: rgba(38, 64, 101, 240);
    font-size: 80px;
    letter-spacing: 2px;
    line-height: 1.1;
}
.banner .container .col50 .textBx p{
    margin-top: 20px;
    font-size: 21px;
    line-height: 1.3;
    color: rgba(165,173,183,255);
}
.banner .container .col50 .textBx a.btn{
    margin-top: 40px;
    display: inline-block;
    background: rgba(44,170,193,255);
    color: #fff;
    font-size: 23px;
    padding: 10px 15px;
    border-radius: 3px;
    transition: 0.5s;
}
.banner .container .col50 .textBx a.btn:hover{
    opacity: 0.6;
    transform: scale(1.1);
}
.banner .container .col50 .textBx a.border{
    background: #fff;
    color: rgba(44,170,193,255);
    padding: 8px 15px;
    border: 2px solid rgba(44,170,193,255);
    border-radius: 3px;
    margin-left: 20px;
}
/*      End-Banner          */
/*      Partenaire          */
.partenaire .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    padding: 100px 0 0;
}
.partenaire .container .box{
    margin: 30px 45px;
    width: 250px;
}
.partenaire .container .box:nth-child(5){
    margin-right: 0;
}
.partenaire .container .box img{
    width: 200px;
}
/*      End-Partenaire      */
/*      Services            */
.services{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.services .textBx .section-text{
    margin-bottom: 100px;
}
.services .textBx .section-text h4{
    color: rgba(44,170,193,255);
    font-size: 18px;
}
.services .textBx .section-text h3{
    margin-top: 10px;
    color: rgba(38, 64, 101, 240);
    font-size: 40px;
}
.services .textBx .section-text p{
    margin-top: 20px;
    line-height: 1.3;
    color: rgba(165,173,183,255);
    padding: 0 500px;
}
.services .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.services .container .box{
    width: 300px;
    margin: 50px;
    padding: 20px 10px 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    text-align: start;
}
.services .container .box:nth-child(4){
    margin-right: 0;
}
.services .container .box h5{
    text-align: center;
    color: rgba(39,63,102,255);
    font-size: 18px;
}
.services .container .box p{
    margin-top: 10px;
    color: rgba(165,173,183,255);
    text-align: center;
}
.services .container .box i.fas{
    font-size: 50px;
    color: rgba(39,63,102,255);
    margin: 10px 20px;

}
/*      End-Services        */
/*      MemberSip           */
.membership .container{
    display: flex;
    justify-content: space-between;
    padding: 200px 60px 0;
}
.membership .container .col50{
    width: 50%;
}
.membership .container .col50 .imgBx{
    width: 100%;
}
.membership .container .col50 .imgBx img{
    width: 80%;
    height: 100%;
    object-fit: cover;
    border-radius: 30%;
}
.membership .container .col50 .textBx{
    height: 100%;
    padding: 10px 50px 0 150px;
}
.membership .container .col50 .textBx h4{
    color: rgba(44,170,193,255);
    font-size: 18px;
}
.membership .container .col50 .textBx h3{
    margin-top: 10px;
    color: rgb(38, 64, 101);
    font-size: 40px;
}
.membership .container .col50 .textBx p{
    margin-top: 35px;
    font-size: 19px;
    line-height: 1;
    color: rgba(165,173,183,255);
}
.membership .container .col50 .textBx a.btn{
    margin-top: 40px;
    display: inline-block;
    background: rgba(44,170,193,255);
    color: #fff;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 3px;
    transition: 0.5s;
}
.membership .container .col50 .textBx .checklist{
    margin: 50px 0;
}
.membership .container .col50 .textBx .far{
    color: rgba(44,170,193,255);
    font-size: 23px;
    margin-right: 20px;
}
.membership .container .col50 .textBx a.btn:hover{
    opacity: 0.6;
    transform: scale(1.1);
}
/*      End-MemberSip       */
/*      Testimonial         */
.testimonial{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.testimonial .section-text{
    margin-bottom: 100px;
}
.testimonial .section-text h4{
    color: rgba(44,170,193,255);
    font-size: 18px;
}
.testimonial .section-text h3{
    margin-top: 10px;
    color: rgba(38, 64, 101, 240);
    font-size: 40px;
}
.testimonial .section-text p{
    margin-top: 20px;
    line-height: 1.3;
    color: rgba(165,173,183,255);
}
.testimonial .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.testimonial .container .card{
    width: 300px;
    margin: 60px;
    padding: 20px 10px 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    text-align: start;
}
.testimonial .container .card:nth-child(3){
    margin-right: 0;
}
.testimonial .container .card p{
    margin: 10px 5px;
    color: rgba(0,0,0,0.4);
    text-align: center;
}
.testimonial .container .card .profile{
    display: flex;
    margin-top: 25px;
}
.testimonial .container .card .profile .imgBx{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.testimonial .container .card .profile .imgBx img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.testimonial .container .card .text h5{
    text-align: left;
    color: rgba(39,63,102,255);
    font-size: 18px;
}
.testimonial .container .card .text p{
    margin-top: 2px;
    color: rgba(165,173,183,255);
    text-align: left;
}
.testimonial .container .card i.fas{
    font-size: 50px;
    color: rgba(39,63,102,255);
    margin: 10px 20px;

}
/*      End-Testimonial     */
/*      News-Letter         */
.news-letter{
    min-height: 40vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    z-index: 1;
}
.news-letter::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(225,242,250,255);
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    z-index: -1;
}
.news-letter .section-text{
    margin-bottom: 50px;
}
.news-letter .section-text h4{
    color: rgba(44,170,193,255);
    font-size: 18px;
}
.news-letter .section-text h3{
    margin-top: 10px;
    color: rgba(38, 64, 101, 240);
    font-size: 40px;
}
.news-letter .section-text p{
    margin-top: 20px;
    line-height: 1.3;
    color: rgba(165,173,183,255);
}
.news-letter .container{
    display: flex;
    justify-content: center;
}
.news-letter .container .form input{
    position: relative;
    padding: 15px 25px;
    margin-right: 15px;
    border: none;
    outline: none;
    font-size: 18px;
    color: #fc6767;
    border-radius: 5px;
}
.news-letter .container .form a.btn{
    margin-top: 40px;
    display: inline-block;
    background: rgba(44,170,193,255);
    color: #fff;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 3px;
    transition: 0.5s;
}
.news-letter .container .form a.btn:hover{
    opacity: 0.7;
}
/*      End-News-Letter     */
/*              Media Queries                */
@media (max-width: 1580px) {
    .banner .container{
        padding: 200px 0 0;
    }
    .banner .container .col50 .imgBx{
        width: 500px;
        margin: 0 0 100px 75px;
    }
    .banner .container .col50 .textBx{
        padding: 10px 75px 0 0;
    }
    .banner .container .col50 .textBx h2{
        font-size: 60px;
    }
    .banner .container .col50 .textBx p{
        font-size: 20px;
    }
    .banner .container .col50 .textBx a.btn{
        font-size: 22px;
    }
    .services .textBx .section-text p{
        padding: 0 350px;
    }
}
@media (max-width: 1580px) {
    .membership .container{
        padding: 200px 0 0;
    }
    .membership .container .col50 .imgBx{
        width: 100%;
    }
    .membership .container .col50 .textBx{
        padding: 10px 0 0 75px;
    }
    .membership .container .col50 .textBx h3{
        font-size: 60px;
    }
    .membership .container .col50 .textBx p{
        font-size: 20px;
    }
    .membership .container .col50 .textBx a.btn{
        font-size: 22px;
    }
}
@media (max-width: 1360px) {
    .membership .container .col50 .imgBx{
        width: 80%;
    }
    .membership .container .col50 .textBx{
        padding: 10px 0 0 75px;
    }
    .membership .container .col50 .textBx h3{
        font-size: 30px;
    }
    .membership .container .col50 .textBx p{
        font-size: 19px;
    }
    .membership .container .col50 .textBx a.btn{
        font-size: 18px;
    }
}
@media (max-width: 1130px) {
    .membership .container{
        flex-direction: column;
    }
    .membership .container .col50{
        width: 100%;
        text-align: center;
    }
    .membership .container .col50.imgContainer{
        justify-content: center;
        display: flex;
        margin-top: 50px;
    }
    .membership .container .col50 .textBx{
        padding: 10px 0;
    }
    .testimonial .section-text{
        margin-top: 120px;
    }
}
@media (max-width: 611px) {
    .membership .container .col50 .imgBx{
        width: 100%;
    }
    .membership .container .col50 .textBx{
        padding: 10px 0 0 75px;
    }
    .membership .container .col50 .textBx h3{
        font-size: 25px;
    }
    .membership .container .col50 .textBx p{
        font-size: 16px;
        margin-top: 15px;
    }
    .membership .container .col50 .textBx a.btn{
        font-size: 18px;
    }
}
@media (max-width: 1211px) {
    .banner .container{
        padding: 200px 0 0;
    }
    .banner .container .col50 .imgBx{
        width: 350px;
        margin: 0 0 100px 75px;
    }
    .banner .container .col50 .textBx{
        padding: 10px 25px 0 0;
    }
    .banner .container .col50 .textBx h2{
        font-size: 45px;
    }
    .banner .container .col50 .textBx p{
        font-size: 19px;
    }
    .banner .container .col50 .textBx a.btn{
        font-size: 20px;
    }
}
@media (max-width: 1031px) {
    header .container .menu, header .container a.btn{
     display: none;
    }
    .services .textBx .section-text p{
        padding: 0 150px;
    }
}
@media (max-width: 940px) {
    .banner .container{
        padding: 200px 0 0;
        flex-direction: column;
    }
    .banner .container .col50{
        width: 100%;
    }
    .banner .container .col50.imgContainer{
        display: none;
    }
    .banner .container .col50 .textBx{
        padding: 10px 75px;
        text-align: center;
    }
    .banner .container .col50 .textBx h2{
        font-size: 45px;
    }
    .banner .container .col50 .textBx p{
        font-size: 19px;
    }
    .banner .container .col50 .textBx a.btn{
        font-size: 20px;
    }
}
@media (max-width: 780px) {
    .services .textBx .section-text p {
        padding: 0 50px;
    }
}
@media (max-width: 710px) {
    .partenaire .container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
@media (max-width: 821px) {
    .services .container .box{
        width: 100%;
        margin: 35px 0;
        padding: 20px;
    }
}
@media (max-width: 680px) {
    .banner .container .col50 .textBx{
        padding: 10px 15px;
    }
    .banner .container .col50 .textBx h2{
        font-size: 40px;
    }
    .banner .container .col50 .textBx p{
        font-size: 19px;
    }
    .banner .container .col50 .textBx a.btn{
        font-size: 20px;
    }
    header .container{
        padding: 30px 35px 10px;
    }
}
@media (max-width: 530px) {
    .services .textBx .section-text h3{
        font-size: 30px;
    }
}
@media (max-width: 480px) {
    .services .container .box{
        width: 100%;
        margin: 50px 0;
    }
    .testimonial .section-text{
        margin-bottom: 50px;
    }
    .testimonial .container .card{
        width: 100%;
        margin: 45px 0;
    }
}
@media (max-width: 432px) {
    .banner .container .col50 .textBx{
        padding: 10px 0;
    }
    .banner .container .col50 .textBx h2{
        font-size: 35px;
    }
    .banner .container .col50 .textBx p{
        font-size: 17px;
    }
    .banner .container .col50 .textBx a.btn{
        font-size: 15px;
    }
}