@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-image: linear-gradient(112.5deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(157.5deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(135deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(90deg, rgb(195, 195, 195),rgb(228, 228, 228)); background-blend-mode:overlay,overlay,overlay,normal;
    min-height: 100vh;
    width: 100%;
}
/*     Header     */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 30px;
    padding: 35px 80px;
    z-index: 99;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    background: transparent;
}
header .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
header .logo h1{
    font-size: 20px;
    color: rgba(42,42,42,0.8);
    font-weight: 700;
}
header .logo h1 span{
    color: #52B788;
}
header .logo i{
    color: #52B788;
    font-size: 20px;
    margin-right: 10px;
}
header .menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
header .menu li{
    margin: 0 20px;
    list-style: none;
}
header .menu li a{
    text-decoration: none;
    color: rgba(42,42,42,0.7);
    position: relative;
    border-bottom: 2px solid transparent;
}
header .menu li a.active{
    border-bottom: 2px solid #52B788;
    color: rgba(42,42,42,1);
}
header .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
header .buttons a:nth-child(1){
    display: inline-block;
    margin-right: 25px;
    color: #333;
    text-decoration: none;
    transition: all 0.4s ease;
}
header .buttons a:nth-child(1):hover{
    color: #52B788;
}
header .buttons .btn{
    display: inline-block;
    color: white;
    padding: 10px 15px;
    background: #52B788;
    border-radius: 10px;
    width: 100px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}
header .buttons .btn:hover{
    transform: scale(1.06);
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    height: 100%;
}
.banner .imageBox{
    width: 750px;
    margin-left: 75px;
}
.banner .imageBox img{
    width: 100%;
}
.banner .textBox{
    width: 600px;
}
.banner .textBox h3{
    color: rgba(42,42,42,0.8);
    font-size: 70px;
}
.banner .textBox h3 span{
    color: #52B788;
}
.banner .textBox p{
    color: rgba(42,42,42,0.65);
    font-size: 18px;
    margin: 30px 0;
}
.banner .textBox .btn{
    display: inline-block;
    color: white;
    padding: 10px 15px;
    background: #52B788;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}
.banner .textBox .btn:hover{
    transform: scale(1.06);
}