@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,700&display=swap');
/*
    ||||||          ||||||
        SET PAGE RULES
    ||||||          ||||||
 */
    *
    {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto Light', sans-serif;
        scroll-behavior: smooth;
    }

    body
    {
        background: #1f2223;
        color: #ffffff;
    }
    section
    {
        padding: 120px;
    }


/*
    ||||||          ||||||
            Banner
    ||||||          ||||||
 */

.banner
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner h2
{
    font-size: 5em;
    color: #74D0F1;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 10px;
}

.banner h2 span
{
    font-size: 2em;
    font-weight: 700;
}

.form
{
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 30px;
    margin-bottom: 50px;
}
.w50
{
    min-width: 50%;
}
.w50 img
{
    width: 600px;
}
img
{
    max-width: 100%;
}

.content
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.content img {
    border-radius: 60px;
}
.content .contentBx
{
    padding: 40px 20px;
    background: #393d3e;
    border-radius: 1em;
    max-width: 340px;
    color: #ffffff;
    margin: 20px;
    text-align: center;
    transition: 0.5s;
}
.content .contentBx h2
{
    font-size: 20px;
    font-weight: 600;
    margin: 30px 50px 30px;
}
.content .contentBx p
{
    font-size: 18px;
    margin: 30px 10px 10px;
}
button
{
    border: solid 2px #8ff174;
    color: #fff;
    padding: 10px 10px;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
    border-radius: 30px;
    margin: 10px;
    background: rgba(0, 0, 0, 0);
}
button:hover
{
    font-size: 16px;
}
button:focus
{outline:none}

input
{
    background: #ffffff;
    border: none;
    width: 200px;
    height: 25px;
}

@media (max-width: 1480px)
{
    .content
    {
        flex-direction: column;
    }
}

@media (max-width: 991px) {
    .banner {
        padding: 150px 50px 100px;
    }

    .banner h2 {
        font-size: 2em;
    }
}